<template>
  <div>
    <img src='./banner.jpg' class="banner-img">
    <img src="./font.png" class="banner-font">
    <div class="bottom-div">
      <div class="download-div">
        <img class="icon" src="./icon.png">
        <div class="app-info">
          <p class="app-name">快点投屏</p>
          <p class="app-desc">你想看的都在这里</p>
          <img class="star" src="./star2.png"/>
        </div>
      </div>
      <div class="down">
        <button class="down-btn" @click="download()">点击下载</button>
      </div>
    </div>
  </div>
</template>

<script>
  import downloadEvent from '../../common/js/download'
  export default {
    created(){
      document.body.style.background = "#ffffff";
    },
    data () {
      return {
        msg: '快点投屏'
      }
    },
    methods: {
      download: function () {
        downloadEvent.downloadApp();
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="stylus" rel="stylesheet/stylus" type="text/stylus">
  .banner-img
    width 100%
  .banner-font
    width 80%
    position: absolute;
    top: 66%;
    margin-top: -22%;
    transform: translateX(10%);
  .bottom-div
    width 100%
    position absolute
    bottom 0px
    background #ffffff

  .download-div
    display flex
    margin 0.28rem 0.24rem

  .icon
    display inline-block
    height 1.3rem
    width 1.3rem
    border none

  .app-info
    padding-left 0.24rem

  .app-name
    padding-top: 0.25em
    font-size 0.32em
    color #333333
    line-height: 1
    margin-bottom 0.3em

  .app-desc
    margin-top 0px
    font-size 0.28em
    color #333333
    line-height: 1
    margin-bottom 0.3em

  .star
    display block
    height: 0.35rem;
    width: 2.45rem

  .down
    padding-left 0.24rem
    padding-right 0.24rem

  .down-btn
    display block
    height 0.96rem
    width 100%
    background #332b00
    border-radius 8px
    color #ffffff
    font-size 0.32em
    margin-bottom 0.32rem
    outline none
    -webkit-touch-callout none
    user-select none
</style>
