<template>
    <div>
      <img class="title-img" src="./kdtp_bt.png">
      <div class="content">
        <img class="fun-img" src="./kdtp_phone.png">
        <div class="features">
          <div class="funicon">
            <img class="point" src="./kdtp_icon-bdy.png">百度云
          </div>
          <div class="funicon">
            <img class="point" src="./kdtp_icon_qwsp.png">全网视频
          </div>
          <div class="funicon">
            <img class="point" src="./kdtp_icon_dszb.png">电视直播
          </div>
          <div class="funicon">
            <img class="point" src="./kdtp_icon_bdzy.png">本地资源
          </div>
        </div>
        <div class="erweima" v-if="checkouturl()">
          <img id="erweima"  class="erweima_img" onerror="src='http://img.wukongtv.com/quickcast/erweima/wktv.png'">
          <p class="download-p">扫码下载&nbsp;快点投屏</p>
        </div>
      </div>
    </div>
</template>

<script type="text/ecmascript-6">
    export default {
        props: {
        },
        methods: {
          checkouturl:function () {
              var showstatus = true;
              if(window.location.href.indexOf('&noQR') > -1){
                showstatus = false;
              }
              return showstatus
          }
        },
        components: {
        },
        mounted(){
            var imgdom = document.getElementById('erweima');
            var channel = (!!window.location.href.match(/down\?c\=(\S+)/)) ?
            window.location.href.match(/down\?c\=(\S+)/)[1] : 'wktv';
            var imgsrc = "http://img.wukongtv.com/quickcast/erweima/pc_" + channel + ".png";
            imgdom.setAttribute('src',imgsrc);
        }
    };
</script>
<style lang="stylus" rel="stylesheet/stylus" type="text/stylus">
  body
    background url('http://static2.wukongtv.com/quickdownload/kdtp_bg_squashed.png') no-repeat
    background-size 100% 100%
    background-attachment fixed
  .content
    display flex
  .title-img
    width 608px
    height 94px
    margin 100px auto 80px auto
    border none
    outline none
    -webkit-touch-callout none
    display block
  .fun-img
    display flex
    width 480px
    min-width 480px
    height 394px
    margin-left -200px
    flex-grow 0
    border none
    outline none
    -webkit-touch-callout none
  .features
    min-width 200px
    margin-left 120px
    margin-top 54px
    color #f0f0f0
    font-family "Microsoft Sans Serif"
  .funicon
    display flex
    align-items center
    margin-bottom 20px
    font-size 24px
  .point
    width 56px
    height 56px
    margin-right 20px

  .erweima
    margin-top 92px
    text-align center
    font-family "Microsoft Sans Serif"
    font-size 18px
    color #f0f0f0

  .erweima_img
    width 180px
    height 180px
    margin-bottom 20px
    border none
    outline none
    -webkit-touch-callout none
  @media (max-width: 1119px)
    .title-img
      margin-bottom 0px
    .content
      flex-direction column
    .erweima
      margin-top 34px
      order 0
    .features
      order 1
      margin-left auto
      margin-right auto
      margin-top 34px
      margin-bottom 20px
    .fun-img
      margin-left auto
      margin-right auto
      margin-bottom 64px
      order 2
  @media (min-width: 1120px)
    .fun-img
      margin-left -200px
</style>
