<template>
  <div id="app">
    <!--<img src="./assets/logo.png">-->
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style lang="stylus" rel="stylesheet/stylus" type="text/stylus">
  @import "./common/stylus/main.styl"
  span
    display none
  #float-div,#guide-android
    display none
</style>
